* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
}

.main-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  margin: 2rem auto;
  border-radius: 1rem;
  text-align: center;
  color: #f0f0f0;
  padding: 1rem;
}

.search-input-cont {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgb(67, 80, 80);
  width: 100%;
  padding: 0.3rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.5rem;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #f0f0f0;
  padding-left: 0.4rem;
}
input:focus {
  outline: none;
}
form button {
  border-radius: 0.1rem;
  background-color: #f0f0f0;
  padding: 0.5rem;
}
h2 {
  margin: 1rem 0 0.2rem 0;
  text-transform: capitalize;
}
.date {
  margin: 0 0 1rem 0;
  font-size: 0.6em;
  font-weight: bold;
}
.weather-icon {
  margin: 1rem 0 0 0;
}

.icon-desc {
  margin: 0;
}
.degree {
  font-size: 1.2em;
  font-weight: bold;
}

.min-max {
  display: flex;
  margin: 1rem auto;
  gap: 1rem;
  justify-content: center;
}
.min,
.max {
  margin: 0;
}

.humidity-cont1,
.humidity-cont2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto 0;
}
.humidity-cont1 {
  margin-bottom: 1rem;
}
.humidity-cont1 div,
.humidity-cont2 div {
  display: block;
  font-size: 0.7em;
  padding: 0.8rem;
  border-radius: 0.2rem;
  background-color: #1e1e1e;
}
span {
  font-weight: bold;
}
.btn-div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  margin-top: 1rem;
}

.btn-one {
  padding: 0.7rem;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 0.2rem;
  background-color: #87ceeb;
}

@media only screen and (max-width: 767px) {
  /* MOBILE SCREENS */

  .search-icon {
    display: none;
  }
  .main-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
  }
}
